{% extends "templates/layouts/big-picture.html" %}

{% block content %}
	{% if enquirySubmitted %}
		<section id="intro" class="main style1 dark fullscreen" style="background-image: url({{ homepage.intro.image.url }});">
			<div class="content container 75%">
				<header>
					<h2>Thanks for getting in touch.</h2>
				</header>
			</div>
		</section>
	{% else %}
		<section id="contact" class="main style3 secondary">
			<div class="content container">
				<header>
					<h2>{{ homepage.contact.title|default("Say Hello.") }}</h2>
					<p>{{ homepage.contact.title }}</p>
				</header>
					<div class="box container 75%">
						<!-- Contact Form -->
						<form method="post" action="/contact">
							<input type="hidden" name="action" value="contact">

							<div class="row 50%">
								<div class="6u">
									{% set class = ( "has-error" if validationErrors.name else "" ) %}
									<input type="text" name="name.full" placeholder="Name" value="{{ formData["name.full"] }}" class="{{ class }}" />
								</div>

								<div class="6u">
									{% set class = ( "has-error" if validationErrors.email else "" ) %}
									<input type="email" name="email" placeholder="Email" value="{{ formData.email }}" class="{{ class }}" />
								</div>
							</div>
							<div class="row 50%">
								<div class="12u">
									<textarea name="message" placeholder="Message" rows="6" class="{{ class }}">{{ formData.message }}</textarea>
								</div>
							</div>
							<div class="row">
								<div class="12u">
									<ul class="actions">
										<li><input type="submit" value="Send Message" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
