{% extends "templates/layouts/big-picture.html" %}

{% block content %}
	<div class="main style3 primary">
		<h2>Gallery</h2>
	</div>


	<div class="container">
		{% if not galleries.length %}
			<h3 class="text-muted">There are no image galleries yet.</h3>
		{% endif %}

		{% for gallery in galleries %}
			<h3>{{ gallery.name }}
				{% if gallery.publishedDate %}
					<span class="pull-right text-muted">{{ gallery._.publishedDate.format("Do MMM YYYY") }}</span>
				{% endif %}
			</h3>

			<div class="row gallery gallery-images">
				{% for image in gallery.images %}
					<a href="{{ image.url }}" class="col-xs-6 col-sm-4 col-md-3 gallery-image">
						<img src="{{ image.limit(300, 300) }}" title="{{ image.description|default(defaultPictureTitle) }}">
					</a>
				{% endfor %}
			</div>
		{% endfor %}
	</div>

	<div class="main style3">
		<a href="/contact" class="button" style="margin-top: 70px;">Say hello!</a>
	</div>
{% endblock %}
