<section id="work" class="main style3 primary">
	<div class="content container">
		<header>
			<h2>{{ homepage.myWork.title|default("My Work") }}</h2>
			<p>{{ homepage.myWork.text }}</p>
		</header>

			<!-- Lightbox Gallery  -->
			<div class="container 75% gallery">
				{% set divOpen = cycler('<div class="row 0% images">', '') %}
				{% set divClose = cycler('', '</div>') %}
				{% set cls = cycler('from-left', 'from-right') %}
				{% for picture in gallery.images %}
						{{ divOpen.next() }}
						<div class="6u">
							<a href="{{ picture.url }}" class="image fit {{ cls.next() }}">


								<img src="{{ picture.thumbnail(200, 100) }}" title="{{ picture.description|default(defaultPictureDescription) }}" />
							</a>
						</div>
						{{ divClose.next() }}
				{% endfor %}
			</div>

			<a href="/gallery" class="button" style="margin-top: 70px;">View more</a>
	</div>
</section>
